{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}


<div class="login-form-container">

    <form method="post">
        <h3>sign in</h3>
        <span>username</span>
        <input type="email"  name="email" value="{{ last_username }}" class="box" placeholder="enter your email" id="">
        <span>password</span>
        <input type="password" name="password" id="inputPassword" class="box" placeholder="enter your password" id="">
        <div class="checkbox">
            <input type="checkbox" name="" id="remember-me">
            <label for="remember-me"> remember me</label>
        </div>
          <input type="hidden" name="_csrf_token"
                       value="{{ csrf_token('authenticate') }}"
                >
        <input type="submit" value="sign in" class="btn">
        <p>forget password ? <a href="#">click here</a></p>
        <p>don't have an account ? <a href="{{ path('app_register')}}">create one</a></p>
    </form>

</div>
<script>
window.addEventListener('load', (event) => {
  console.log('page is fully loaded');
  loginForm.classList.toggle('active');
});
</script>
   
  <!--Main Navigation-->
{% endblock %}
